body{
	font-family: 'Karla', sans-serif;
	font-weight: 1.5;
	color:black;
	margin:0;
	padding:0;

}

.about img{
	border: 3px solid white;
	border-radius: 50%;
	text-align: center;
}


h1	{
	color: white;
	font-size: 50px;
}




a{
	color:white;
	
	
	text-decoration:none;
	margin: 10px;
}

a:hover{
	background-color: #ffe082;
}

.font{
	color:orange;
}

.about{
	padding-left: 30px;
	margin-top: 100px;
	background-color: white;
	overflow:auto;

	
	border-bottom: 1px solid black;
	margin-left: 50px;
	margin-right: 50px;

}

.tababout{
	color: orange;
	text-align: center;
	margin-top: 100px;
	background: green;

}


.toyko{
	text-align:center;
	
	color:white;
	background-image:url(../images/image1a.jpg);
	/* short cut for adding in multiple into 1 line background: green url(../images/background.jpg);*/
	


}



header{
	background-image:url(../images/backdrop1.jpg);
	background-size:cover;
	background-position: bottom;
	text-align: center;
	padding: 30px;
}

.bottom{
	color:grey;
}



#imagelist{
	font-size:0;
	width:1018px;
	margin: 0 auto;
	
}

#imagelist a{

	margin: 10px;
	margin-top: 20px;
	display: inline-block;
	opacity: .9;
	
}

#imagelist a:hover {

	opacity: .3;
	-webkit-trnasition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition: all .3s ease-in;



}

footer{
	text-align: center;
	padding: 80px;
}

.container{
	width:960px;
	height: 700px;
	margin: 0 auto;
	padding: 30px 30px;
	position: relative;
	

}

.top-left{
	font-size: 40px;
	font-weight: 700;
	margin: 0 auto;
	padding-bottom: 30px;
	color: #b8b8b8;


}
